#define RT_MANIFEST 24

1 ICON "app.ico"
1 RT_MANIFEST "app.manifest"

1 VERSIONINFO
 FILEVERSION 3,0,0,0
 PRODUCTVERSION 3,0,0,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "S:P:L:I:N:E:D\0"
            VALUE "FileDescription", "S:P:L:I:N:E:D v3.0.0 Stable\0"
            VALUE "FileVersion", "3.0.0.0\0"
            VALUE "InternalName", "splined.exe\0"
            VALUE "OriginalFilename", "splined.exe\0"
            VALUE "ProductName", "S:P:L:I:N:E:D v3.0.0 Stable\0"
            VALUE "ProductVersion", "3.0.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
