__pycache__/
*.py[cod]
*.tar
*.tar.gz
docker_builds/
test_*.py
!test_candidate_ranking_policy.py
!test_splined_media_index.py
!test_splined_media_build_policy.py
!test_splined_media_fast_index_policy.py
!test_splined_media_finalize_policy.py
